.author {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.author_title {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.author_title_label {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author_table {
  flex: 1;
}
