.book {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.book_title {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book_title_label {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book_table {
  flex: 1;
}
