#menus {
  position: relative;
  width: 260px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  color: #fff;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.3);
}

.menu_img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.2;
  background-image: url("/src/assets/images/sidebar.jpg");
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: center center;
}

.MuiListItem-button {
  margin-bottom: 10px !important;
}
.MuiListItem-root.Mui-selected {
  box-sizing: border-box;
  border-radius: 3px;
}

.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
  box-shadow: 0 12px 20px -10px rgb(0 172 193 / 28%), 0 4px 20px 0 rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(0 172 193 / 20%);
  background-color: #00acc1 !important;
}
